<!doctype html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
    <link rel="icon" href="static/icon.png">
</head>
<title>Search!</title>
    <div style="margin-top:10vh;">
        <img style="object-fit: contain; width: 100%; max-height: 20vh; margin:auto; margin-bottom: 30px" src="static/icon.png">
    </div>
<form action="/search/0">
    <input style="" placeholder="Ex.: How to change file permissions?" class="query" type="text" name="query" required>
    <div style="margin:auto; margin-top: 10px; width: fit-content">
        <input style="font-size: 2.5vh; background-color: cadetblue; color:white; font-weight:bold; margin:auto; margin-top: 10px; border-color: transparent; border-radius:10px; display:inline; padding:1.5vh;" class="submit" type="submit" value="Search">
        <input style="background-color: cadetblue; color:white; font-weight:bold; margin:auto; margin-top: 10px; border-color: transparent; border-radius:10px; display:none; padding:10px;" class="submit" type="submit" value="I'm feeling lucky!">
    </div>
</form>
<div style="margin: auto; text-align: center; padding-top: 20vh;">
Prof. Dr. Frederico Araújo Durão<br>
Daniel Santos Peixoto<br>
</div>